*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root
{
   --blue: rgb(82, 109, 149);
}

.button
{
    padding: 0.8rem;
    box-shadow: 8px 9px 8px var(--blue);
    border-radius: 20px;
}